.EmployeeLandingPage {
  h1 {
    text-align: center;
    margin: 10px 0 20px;
  }

  .employee-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    flex-direction: column;
  }
}

@media (min-width: 768px) {
  .EmployeeLandingPage {
    .employee-container {
      width: 70%;
      flex-direction: row;
    }
  }
}
